@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fireworks {
  0% {
    background-image: radial-gradient(circle at 10% 10%, #00ff00, transparent);
  }
  25% {
    background-image: radial-gradient(circle at 90% 10%, #ff00ff, transparent);
  }
  /* 50% {
    background-image: radial-gradient(circle at 90% 90%, #ffff00, transparent);
  } */
  75% {
    background-image: radial-gradient(circle at 50% 50%, #0000ff, transparent);
  }
  100% {
    background-image: radial-gradient(circle at 10% 10%, #ff0000, transparent);
  }
}